# Laravel
/vendor
/vendor33
/vendor.zip
/hahucare
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json

# Laravel IDE Helper (optional)
/_ide_helper.php
/_ide_helper_models.php

# Composer
composer.lock

# Node / NPM
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# OS / Editor files
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.bak
*.tmp

# PHPStorm / VSCode
.idea/
.vscode/

# Cache / Framework storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Ignore public storage uploads (if you store images there)
public/storage/*

# Firebase Admin SDK service account (contains private keys)
storage/app/data/*.json
